<!DOCTYPE html>
<html ng-app="app"> <!-- ON APPLIQUE ANGULAR SUR LA PAGE -->
<head>
  <meta charset="utf-8" />
  <title>Exercice 5</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
  <button ng-click="control=true">Montrer</button>
  <button ng-click="control=false">Cacher</button>
  <p ng-show="control">Le fait divers, orthographié aussi fait-divers (événements appelés également les chiens écrasés en argot), est, en journalisme, un type d'événement qui n'est classable dans aucune des rubriques qui composent habituellement un média d'actualité (international, national, politique, économie, etc.)1. Par conséquent, les faits divers sont regroupés au sein d'une même rubrique, malgré l'absence de lien qui les unisse2. Il s'agit généralement d'événements tragiques, tels que les crimes, les accidents, les larcins énonçables en trois lignes.</p>
  <script src="assets/js/script.js"></script>
</body>
</html>
